.positionsheader { 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 400px;
    flex-direction: row;
    background-color: #171722;
    align-items: stretch;
    color: #6f6e84;
    border: 1px solid #2d2d3d;
    margin-top:26px;
}
/* .positionsheader>*{
    flex:1 1 0
} */

.titleaction { 
    flex:1 1 0;
    font-size: 14px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.titlestatus{
    font-size: 14px;
}
.titleamount {
    font-size: 14px;
    text-align: right;
    padding-top: 15px;
    margin-right: 170px; 
}
.titleTransaction { 
    flex: 0 0 1;
    font-size: 14px;
    text-align: right;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.titlefee{
    font-size: 14px;
    font-weight: 500;
    color: rgb(111, 110, 132);
}

.footer {
    width: 100%;
    height: 74px;
    position: absolute;
    bottom: 0;
}